<a href="https://colab.research.google.com/github/kingseo4567/maritime-data-minig/blob/main/6%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#과제 6-1
#json 파일을 dataframe으로 변환생성

import pandas as pd
import json

# JSON 파일 경로
json_file_path = "/content/jsonData/custom.json"

# JSON 파일 읽기
with open(json_file_path, 'r', encoding='utf-8') as f:
    json_data = json.load(f)

# JSON 데이터를 Pandas DataFrame으로 변환
df = pd.DataFrame(json_data)

# DataFrame 정보 출력
print(df.info())

# DataFrame 상위 5개 행 출력
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2 non-null      int64
 1   name     2 non-null      object
 2   email    2 non-null      object
 3   phone    2 non-null      object
 4   address  2 non-null      object
dtypes: int64(1), object(4)
memory usage: 212.0+ bytes
None
   id name             email             phone  \
0   1  홍길동  hong@example.com  +82-10-1234-5678
1   2  김철수   kim@example.com  +82-10-8765-4321

                             address
0  {'city': '서울', 'country': '대한민국'}
1  {'city': '부산', 'country': '대한민국'}

In [19]:
#과제 6-2
#xml파일을 dataframe으로 변환생

import pandas as pd
import xml.etree.ElementTree as ET

# XML 파일 경로
xml_file_path = "/content/xmlData/book.xml"  # 로컬에 저장된 XML 파일 경로

# XML 파일 읽기
tree = ET.parse(xml_file_path)

# 루트 요소 가져오기
root = tree.getroot()

# 특정 요소 목록 가져오기
elements = root.findall('.//book')

# DataFrame 생성
df = pd.DataFrame(columns=['title', 'author', 'price', 'genre'])

# 각 요소를 DataFrame에 추가
for element in elements:
    row = {
        'title': element.find('title').text,
        'author': element.find('author').text,
        'genre': element.find('genre').text,
        'price': float(element.find('price').text),
    }
    new_df = pd.DataFrame([row], columns=df.columns)
    df = pd.concat([df, new_df], ignore_index=True)

# DataFrame 정보 출력
print(df.info())

# DataFrame 상위 4개 행 출력
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3 non-null      object
 1   author  3 non-null      object
 2   price   3 non-null      float64
 3   genre   3 non-null      object
dtypes: float64(1), object(3)
memory usage: 228.0+ bytes
None
                   title          author  price    genre
0    Pride and Prejudice     Jane Austen  19.99  romance
1  To Kill a Mockingbird      Harper Lee  14.99  fiction
2  The Lord of the Rings  J.R.R. Tolkien  34.99  fantasy

<ipython-input-19-a897477263cd>:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_df], ignore_index=True)